################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/covidvaccinations/.vs/VSWorkspaceState.json

#ignore mdb
*.mdb
/.vs/covidvaccinations/v17/.suo
/.vs/covidvaccinations/project-colors.json
/.vs/VSWorkspaceState.json
